.focusing-outlet {
  height: 100%;
}
[class*="column"]+[class*="column"]:last-child {
  float: left;
}

.ingredient-tile, .ingredient-toggle {
  cursor: default !important;
}

#products-show #ingredients-list,
#products-edit #ingredients-list {
  // overflow-y: auto;
  // display: flex;
  // -webkit-box-direction: normal;
  // -webkit-box-orient: vertical;
  // transform: translateX(0%);
  // flex-direction: column;
  // padding-bottom: 80px !important;
  overflow: hidden;
}

.wrap-detail-info {
  height: 100%;
}

@media only screen and (min-width: 58.063em) {
  #products-show #info, #products-edit #info {
    position: absolute;
    height: 100%;
    padding: 0.9375rem;
    overflow: hidden;
    transition: all 800ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  }
  #products-show #ingredients-list, #products-edit #ingredients-list {
    overflow: auto;
    position: relative;
    height: 100%;
  }
  .wrap-detail-info {
    padding: 0.9375rem;
  }
}
