<div id="restaurants-menu">
   <div id="menu-hero">
      <div class="hero-image ember-view asset-container main-visual">

      </div>
      <!-- <div class="shadow" style="width: 100%;">
        <div class="cover">
        </div>
      </div> -->
      <div class="hero-content clearfix">
        <swiper class="swiper-box" :options="swiperOption" ref="swiper" @slideChangeTransitionStart="geSlideMoveStart" @slideChangeTransitionEnd="geSlideMoveEnd" >
          <swiper-slide class="swiper-item">
            <div class="bg" style="background-image: url('/assets/video/CityGourmet_Main_01.png');">
              <div class="visual-txt-wrap">
                <div class="shadow" style="z-index:1;"></div>
                <div style="position:relative; z-index:2; height:100%; padding:.9em">
                  <div class="mast">
                     <h1 class="font-sweet" id="menu-mast-heading" tabindex="-1">
                        <img src="/assets/img/logo_visual.png" class="logo_visual" alt="" />
                     </h1>
                  </div>
                  <div class="address">
                     <span class="h5">
                       一场真正美食的庆典-农场到餐桌的旅程<br />
                       由米其林星级厨师准备的健康&amp;美味食物，一次尽享
                     </span>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-item">
            <video-player  class="video-player-box"
              ref="videoPlayer1"
              :options="playerOptions">
            </video-player>
            <!-- <video class="video-background2" preload="metadata" ref="video1" loop="true">
              <source src="/assets/video/CityGourmet_Main_02.mp4" type="video/mp4">
            </video> -->
            <div class="bg">
              <div class="visual-txt-wrap">
                <div class="shadow" style="z-index:1;"></div>
                <div style="position:relative; z-index:2; height:100%; padding:.9em">
                  <div class="mast">
                     <h1 class="font-sweet" id="menu-mast-heading" tabindex="-1">
                        <img src="/assets/img/logo_visual_chop.png" class="logo_visual" alt="" />
                     </h1>
                  </div>
                  <div class="address">
                     <span class="h5">
                       本地种植，新鲜&有机收获
                     </span>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-item">
            <video-player  class="video-player-box"
              ref="videoPlayer2"
              :options="playerOptions2">
            </video-player>
            <div class="bg">
              <div class="visual-txt-wrap">
                <div class="shadow" style="z-index:1;"></div>
                <div style="position:relative; z-index:2; height:100%; padding:.9em">
                  <div class="mast">
                     <h1 class="font-sweet" id="menu-mast-heading" tabindex="-1">
                        <img src="/assets/img/logo_visual_grill.png" class="logo_visual" alt="" />
                     </h1>
                  </div>
                  <div class="address">
                     <span class="h5">
                       无抗生素&无激素肉和鱼
                     </span>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-item">
            <video-player  class="video-player-box"
              ref="videoPlayer4"
              :options="playerOptions4">
            </video-player>
            <div class="bg">
              <div class="visual-txt-wrap">
                <div class="shadow" style="z-index:1;"></div>
                <div style="position:relative; z-index:2; height:100%; padding:.9em">
                  <div class="mast">
                     <h1 class="font-sweet" id="menu-mast-heading" tabindex="-1">
                        <img src="/assets/img/logo_visual_rotisserie.png" class="logo_visual" alt="" />
                     </h1>
                  </div>
                  <div class="address">
                     <span class="h5">

                     </span>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-item">
            <video-player  class="video-player-box"
              ref="videoPlayer3"
              :options="playerOptions3">
            </video-player>
            <div class="bg">
              <div class="visual-txt-wrap">
                <div class="shadow" style="z-index:1;"></div>
                <div style="position:relative; z-index:2; height:100%; padding:.9em">
                  <div class="mast">
                     <h1 class="font-sweet" id="menu-mast-heading" tabindex="-1">
                        <img src="/assets/img/logo_visual_squeeze.png" class="logo_visual" alt="" />
                     </h1>
                  </div>
                  <div class="address">
                     <span class="h5">
                       新鲜，有机排毒水果&蔬菜
                     </span>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>

          <div class="swiper-pagination" slot="pagination"></div>
          <div class="swiper-button-prev" style="z-index:4;" slot="button-prev"></div>
          <div class="swiper-button-next" style="z-index:4;" slot="button-next"></div>
        </swiper>
      </div>
   </div>
   <div class="jump-nav ember-view sticky-view">
      <div class="spacer" style=""></div>
      <div class="sticky" style="">
         <div id="menu-filters" role="complementary">
            <div class="menu-filters-large ember-view menu-filters">
               <button class="filter-show-hide filter-headline h6 type-medium spaced-caps" aria-expanded="false" data-ember-action="5611">
               Any Dietary Restrictions?
               </button>
               <div class="filter-panel" aria-hidden="true">
                  <div class="clearfix contents paddings half">
                     <h3 class="product-name center">Dietary Restrictions?</h3>
                     <p class="p-small filter-blurb">Select the types of food that you prefer <span class="hint">NOT</span> to eat. Items that contain significant amounts of these properties <span class="hint">will be flagged with a red (!)</span>.</p>
                     <div class="filter-buttons clearfix collapse neg-gutter-margin">
                        <fieldset>
                           <div class="small-6 columns single-filter">
                              <div class="ember-view"><button class="button-filter" aria-pressed="false" data-ember-action="5625">
                                 Dairy
                                 </button>
                              </div>
                           </div>
                           <div class="small-6 columns single-filter">
                              <div class="ember-view"><button class="button-filter" aria-pressed="false" data-ember-action="5627">
                                 Meat
                                 </button>
                              </div>
                           </div>
                           <div class="small-6 columns single-filter">
                              <div class="ember-view"><button class="button-filter" aria-pressed="false" data-ember-action="5629">
                                 Nuts
                                 </button>
                              </div>
                           </div>
                           <div class="small-6 columns single-filter">
                              <div class="ember-view"><button class="button-filter" aria-pressed="false" data-ember-action="5631">
                                 Gluten
                                 </button>
                              </div>
                           </div>
                           <div class="small-6 columns single-filter">
                              <div class="ember-view"><button class="button-filter" aria-pressed="false" data-ember-action="5633">
                                 Fish
                                 </button>
                              </div>
                           </div>
                           <div class="small-6 columns single-filter">
                              <div class="ember-view"><button class="button-filter" aria-pressed="false" data-ember-action="5635">
                                 Soy
                                 </button>
                              </div>
                           </div>
                        </fieldset>
                     </div>
                     <p class="p-small filter-blurb">Since we cook from scratch in an open kitchen, we can't guarantee that there will not be trace amounts of allergens in your meal. <br> <strong class="hint">Please also note that stores will not receive any dietary restrictions selected online.</strong></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="menu">
      <div class="clearfix waypointable" data-waypointable-name="warm-bowls">
         <div class="product-category small-12 columns"></div>
         <div class="flex-row">
            <div class="product-card-wrap small-12 medium-6 large-4 xlarge-3 columns flex-columns" v-for="product in productList">
              <router-link :to="product.id" class="menu-item test-menu-item-button link-card optimistic-fader ember-view">
                  <div class="ember-view product-card is-seasonal">
                     <div class="card-inner ">
                        <div class="card-content">
                           <h2 class="product-name line-medium
                              capitalize">
                              {{ product.name }}
                           </h2>
                           <p class="product-description p-small">{{ product.description }}</p>
                           <div class="product-meta">
                              <span class="h3 block product-cost"><span class="price">￥{{ product.price }}</span></span>
                              <p class="product-cals">{{ product.cals }} Cal</p>
                           </div>
                        </div>
                        <div class="restricted-card">
                           <div class="restrict-corner">
                              <div class="restrict-icon icon-product-restricted-sm" role="img" aria-label="Restricted"></div>
                           </div>
                        </div>
                        <div class="card-image ember-view asset-container">
                           <div v-bind:style="{ 'background-image': 'url(' + product.img + ')' }" class="ember-view background-image">
                           </div>
                        </div>
                     </div>
                  </div>
               </router-link>
            </div>
         </div>
      </div>

   </div>
</div>
