.content h1 {
    text-align: center;
}
.video-background {
  position: absolute;
  // min-width: 100%;
  // min-height: 100%;
  width: 100%;
  min-width:650px;
  min-height:300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // object-fit: cover;
}

.video-background2 {
  position: absolute;
  // min-width: 100%;
  // min-height: 100%;
  width: 100%;
  min-width:650px;
  min-height:300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#restaurants-menu #menu-hero .hero-content {
 padding:0;
}

.swiper-box {
  z-index: 10;
  width:100%;
  height: 300px;
  overflow: hidden;
  .swiper-item {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .swiper-item .bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.swiper-box {
  position: relative;
  z-index: 10;
  width:100%;
  height: 300px;
  overflow: hidden;
  .swiper-item {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .swiper-item .bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.shadow { opacity: 0.3 }


@media only screen and (max-height: 64em) and (min-height: 0em) and (min-width: 45.063em) {
  .swiper-box {
    height:430px;
  }
  #restaurants-menu #menu-hero .mast {
    margin-bottom: 13rem;
  }
}
