<header role="banner">
   <nav role="navigation">
      <div class="nav-left">
         <router-link to="/" id="back-link" class="nav-link" v-if="menuBtn">MENU</router-link>
      </div>
      <div class="ember-view nav-context authenticated">
         <div class="nav-name">
            <div class="middle-align-small">
              <h1 class="h6 middle-align-small-contain"><img src="/assets/img/logo.png" alt="citygourmet" /></h1>
            </div>
         </div>
         <div class="nav-branding">
            <h1 class="h3">
              <a href="/" class="ember-view active"><img src="/assets/img/logo.png" alt="citygourmet" /></a>
            </h1>
         </div>
      </div>
      <div class="nav-right">
      </div>
   </nav>
   <div id="flash-view" class="ember-view is-notice">
      <div id="message" tabindex="-1">
      </div>
   </div>
</header>
